---
# This is the list of checks that we want to enable.
# We only enable the checks that we want to tackle. This is done by first disabling all checks
# with '*-', and then listing any check we want.
#
# See also https://clang.llvm.org/extra/clang-tidy/ for a description of 'clang-tidy'.
# See also https://clang.llvm.org/extra/clang-tidy/checks/list.html for a complete list of supported checks.
Checks:
    '
    -*,
    bugprone-copy-constructor-init,
    bugprone-fold-init-type,
    bugprone-incorrect-enable-if,
    bugprone-parent-virtual-call,
    bugprone-reserved-identifier,
    bugprone-string-constructor,
    bugprone-suspicious-semicolon,
    bugprone-suspicious-string-compare,
    bugprone-too-small-loop-variable,
    bugprone-undelegated-constructor,
    bugprone-use-after-move,
    cppcoreguidelines-missing-std-forward,
    cppcoreguidelines-prefer-member-initializer,
    cppcoreguidelines-pro-type-member-init,
    cppcoreguidelines-pro-type-cstyle-cast,
    cppcoreguidelines-virtual-class-destructor,
    google-explicit-constructor,
    llvm-include-order,
    llvm-namespace-comment,
    misc-const-correctness,
    misc-redundant-expression,
    misc-static-assert,
    misc-uniqueptr-reset-release,
    misc-unused-using-decls,
    modernize-deprecated-headers,
    modernize-make-shared,
    modernize-make-unique,
    modernize-pass-by-value,
    modernize-redundant-void-arg,
    modernize-return-braced-init-list,
    modernize-type-traits,
    modernize-unary-static-assert,
    modernize-use-constraints,
    modernize-use-emplace,
    modernize-use-equals-default,
    modernize-use-equals-delete,
    modernize-use-nullptr,
    modernize-use-override,
    modernize-use-using,
    performance-enum-size,
    performance-inefficient-algorithm,
    performance-inefficient-string-concatenation,
    performance-move-const-arg,
    performance-move-constructor-init,
    performance-no-automatic-move,
    performance-noexcept-destructor,
    performance-noexcept-swap,
    performance-prefer-single-char-overloads,
    performance-trivially-destructible,
    performance-unnecessary-copy-initialization,
    performance-unnecessary-value-param,
    readability-const-return-type,
    readability-container-contains,
    readability-container-data-pointer,
    readability-container-size-empty,
    readability-duplicate-include,
    readability-identifier-length,
    readability-non-const-parameter,
    readability-qualified-auto,
    readability-redundant-control-flow,
    readability-redundant-inline-specifier,
    readability-redundant-smartptr-get,
    readability-redundant-string-cstr,
    readability-redundant-string-init,
    readability-string-compare,
    readability-use-std-min-max,
    readability-uniqueptr-delete-release
    '

# Any activated check is considered as generating errors.
WarningsAsErrors: '*'

FormatStyle:
    none
